.btn {
    @include button;
}

.btn--navbar {
    @include button__buy-now;
    &:hover {
        background: #ffffff;
        border: 1px solid $main-color;
        color: $main-color;
    }
}

.btn--download {
    position: absolute;
    bottom: -35px;
    @include button__big;
    background: $main-color;
    border: 1px solid $main-color;
    &:hover {
        background: #ffffff;
        border: 1px solid $main-color;
        color: $main-color;
    }
}

.btn__download--description {
    color: #848E97;
    position: absolute;
    bottom: -65px;
}

@media only screen and (max-width: 480px) {
    .btn--download {
        padding: 12px 37px;
        font-size: 18px;
        position: absolute;
        bottom: -21px;
    }
    .btn__download--description {
        position: absolute;
        bottom: -45px;
    }
}