.section-title {
    font-family: $monserrat;
    font-weight: bold;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
    @media (min-width: 320px) and (max-width: 480px) {
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
    }
    @media (min-width: 481px) and(max-width: 992px) {
        font-size: 42px;
        line-height: 44px;
    }
    &--big {
        padding: 141px 0 36px;
        font-family: $monserrat;
        font-size: 54px;
        color: #635C73;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        @media (min-width: 320px) and (max-width: 480px) {
            font-size: 26px;
        }
        @media (min-width: 481px) and(max-width: 992px) {
            font-size: 42px;
        }
    }
    &--purple {
        color: $main-color;
        font-family: $monserrat;
        font-size: 48px;
        font-weight: bold;
        position: absolute;
        top: 95px;
        right: 25px;
        &:after {
            content: '>'
        }
        &:before {
            content: '<';
        }
        @media (min-width: 320px) and (max-width: 480px) {
            font-size: 32px;
            position: inherit;
            text-align: center;
            top: 30px;
            right: 0;
            bottom: 30px;
            padding: 0 25px;
        }
        @media (min-width: 481px) and(max-width: 992px) {
            font-size: 42px;
            position: inherit;
            text-align: center;
            right: 0;
            top: 60px;
            bottom: 50px;
        }
    }
}