.header {
    background: url("../img/section/header__bg.png") no-repeat center / cover;
    padding-top: 60px;
    padding-bottom: 487px;
    font-family: $monserrat;
    position: relative;
}

.slogan {
    @include d-flex-center;
    flex-direction: column;
}

.slogan__title {
    text-align: center;
    font-size: 82px;
    color: #ffffff;
    font-weight: 700;
}

.slogan__subtitle {
    color: $main-color;
    padding: 18px 0;
    text-align: center;
    font-size: 30px;
}

.slogan__version {
    color: #848e97;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

.content {
    max-width: 913px;
    margin: 0 auto;
    @include d-flex-center;
    @include d-flex__column;
}

@media only screen and (max-width: 992px) and (min-width: 481px) {
    .slogan__title {
        font-size: 72px;
    }
    .slogan__subtitle {
        font-size: 24px;
        line-height: 26px;
    }
    .slogan__version {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        padding-top: 43px;
        padding-bottom: 424px;
    }
    .slogan__title {
        font-size: 52px;
    }
    .slogan__subtitle {
        min-width: 280px;
        width: 80vw;
        font-size: 18px;
        line-height: 24px;
        padding: 20px 0px 16px 0px;
    }
    .slogan__version {
        font-size: 14px;
    }
}