.container {
    @include container_1200;
    font-family: $monserrat;
}

.container-menu {
    @include d-flex-between;
    flex-wrap: wrap;
    padding: 0 10px;
}

.logo {
    @include d-flex-between;
    flex-wrap: wrap;
    &__link {
        @include d-flex-between;
        text-decoration: none;
        width: 150px;
    }
    &__text {
        font-family: $monserrat;
        font-size: 24px;
        text-transform: uppercase;
        color: $main-color;
        font-weight: 600;
    }
    &__img {
        width: 43px;
        height: 41px;
        background: url("../img/navbar__logo.png") no-repeat center/cover;
    }
    &:hover &__text {
        color: #ffffff;
    }
    &:hover &__img {
        background: url("../img/navbar__logo-hover.png") no-repeat center/cover;
    }
}

.navbar {
    background-color: #27262a;
    padding: 30px 0;
    &__list {
        @include d-flex-center;
    }
    &__menu {
        @include d-flex-between;
        flex-wrap: wrap;
    }
    &__item {
        margin-right: 4vw;
    }
    &__burger {
        display: none;
        margin-top: 8px;
    }
    &__lines {
        height: 3px;
        width: 26px;
        border-radius: 5px;
        margin-bottom: 7px;
        background-color: #ffffff;
        &-top {
            width: 20px;
            position: relative;
            right: -3px;
        }
    }
}

.navbar__link {
    font-size: 16px;
    color: $main-color;
    text-decoration: none;
    font-weight: 600;
    &:hover {
        color: #ffffff;
    }
}

@media only screen and (max-width: 992px) and (min-width: 481px) {
    .navbar {
        padding: 70px 0;
        position: relative;
        &__list {
            position: absolute;
            right: 0;
            top: 93px;
            left: 0;
        }
        &__item:hover {
            color: #ffffff;
        }
    }
    .logo {
        position: absolute;
        top: 25px;
    }
    .btn--navbar {
        position: absolute;
        right: 20px;
        top: 25px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        min-width: 300px;
    }
    .logo {
        width: 43px;
        height: 41px;
        &__text {
            display: none;
        }
    }
    .navbar {
        position: relative;
        transition: 0.4s;
        &__menu {
            width: 66vw;
        }
        &__list {
            display: none;
        }
        &__list-open {
            display: block;
            position: absolute;
            top: 102px;
            right: 2px;
            z-index: 5;
        }
        &__item {
            position: relative;
            &:hover .navbar__link {
                color: $main-color;
            }
        }
        &__link {
            display: inline-block;
            padding-top: 28px;
            padding-left: 36px;
            color: #fff;
            font-size: 27px;
            font-weight: 300;
            border-bottom: 1px solid #3b3b3b;
            width: 254px;
            height: 55px;
            background-color: #333;
        }
        &__burger {
            @include d-flex-center;
            @include d-flex__column;
            transition: 0.4s;
        }
    }
    .navbar__lines-top.open {
        opacity: 0;
    }
    .navbar__lines-center.open {
        transform: rotate(-45deg) translate(-3px, -6px);
        transition: 0.4s;
    }
    .navbar__lines-bottom.open {
        transform: rotate(45deg) translate(-12px, -5px);
        transition: 0.4s;
    }
    .navbar__item:hover::before {
        content: '';
        display: block;
        top: 14px;
        position: absolute;
        height: 54px;
        width: 8px;
        background-color: $main-color;
    }
}