.revolutionary-editor__text {
  font-family: $lato;
  font-size: 21px;
  color: #323232;
  line-height: 1.5;
  text-align: center;
  padding: 0 150px;
  @media (min-width: 320px) and (max-width: 480px){
    font-size: 14px;
    padding: 0 40px;
  }
  @media (min-width: 481px) and(max-width: 992px){
    font-size: 21px;
    padding: 0 40px;
  }
}

.counters {
  text-align: center;
  margin: 15px 5px 70px;
}

.counter {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 10px;
 &__button{
   font-family: sans-serif;
   color: #000000;
   font-size: 16px;
   font-weight: bold;
   padding: 3px 9px;
   border: none;
   border-right: 1px solid grey;
 }
  &__number{
    font-family: sans-serif;
    color: #000000;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
  }
}
