.review {
    background: url("../img/section/feedback-bg.png") no-repeat center / cover;
    padding-bottom: 30px;
    overflow-x: hidden;
    margin-bottom: -10px;
}

.feedback {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 15px;
    &__company-logo {
        @include d-flex-center;
        height: 65px;
        margin-bottom: 30px;
    }
    &__text {
        font-family: $lato;
        font-style: italic;
        font-weight: 600;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
    }
    &__footer {
        font-family: $lato;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: $main-color;
        margin-top: 118px;
    }
    &__footer::after {
        content: '';
        display: block;
        transform: translate(50% -50%);
        position: relative;
        left: 50px;
        margin-top: 15px;
        height: 2px;
        width: 88%;
        background: #645766;
        opacity: 0.2;
    }
}

.review-content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 80px;
}

.section-title {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.responsive-bg {
    background: url('../img/section/pricing-plan-bg.png') no-repeat center/cover;
    overflow: hidden;
}

@media only screen and (max-width: 992px) and (min-width: 481px) {
    .feedback {
        &__footer {
            margin-top: 15px;
        }
    }
    .review-content {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

.section-title {
    font-size: 43px;
}

@media only screen and (max-width: 480px) {
    .review-content {
        display: block;
        margin: 30px;
    }
    .review {
        background: url("../img/section/responsive320-bg.png") no-repeat center/cover;
        padding-bottom: unset;
    }
    .feedback {
        margin-bottom: 45px;
        grid-row-gap: unset;
        &__footer {
            display: none;
        }
    }
    .section-title {
        font-size: 38px;
        line-height: 55px;
    }
}