.services {
    background: #F4F4F4;
    position: relative;
    overflow: hidden;
    @media (min-width: 320px) and (max-width: 480px) {
        background: none;
    }
    @media (min-width: 481px) and(max-width: 992px) {
        background: none;
    }
    .container {
        position: relative;
    }
}

.services-blocks {
    display: inline-block;
    @media (min-width: 320px) and (max-width: 480px) {
        display: block;
    }
    @media (min-width: 481px) and(max-width: 992px) {
        margin: 0 auto;
    }
}

.service-block {
    @include d-flex-between;
    margin-bottom: 40px;
    &:first-child {
        margin-top: 90px;
    }
    &:last-child {
        margin-bottom: 70px;
    }
    &__img-wrap {
        @media (min-width: 320px) and (max-width: 480px) {
            margin: 0 auto 25px;
        }
        @media (min-width: 481px) and(max-width: 992px) {
            margin: 0 10px;
        }
    }
    &__descr {
        width: 404px;
        text-decoration: none;
        font-family: $monserrat;
        line-height: 1.8;
        @media (min-width: 320px) and (max-width: 480px) {
            text-align: center;
        }
        @media (min-width: 481px) and(max-width: 992px) {
            margin: 0 10px;
            width: 79%;
        }
    }
    &__title {
        color: $dark-text-color;
        font-size: 16px;
    }
    &__text {
        font-size: 14px;
        color: #848E97;
        @media (min-width: 320px) and (max-width: 480px) {
            padding: 0 10px;
        }
    }
}

.code-example {
    position: absolute;
    right: -302px;
    top: 159px;
    @media (min-width: 320px) and (max-width: 480px) {
        position: inherit;
        top: 0;
        right: 0;
    }
    @media (min-width: 481px) and(max-width: 992px) {
        position: inherit;
        top: 0;
        right: -40px;
    }
    @media (min-width: 993px) and (max-width: 1170px){
      right: -470px;
    }
}