.pricing-section{
  background-image: url("../img/section/pricing-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pricing-blocks{
  @include d-grid(4,1);
  align-items: center;
  justify-items: center;
  @media (min-width: 320px) and (max-width: 480px){
    @include d-grid(1,4)
  }
  @media (min-width: 481px) and(max-width: 1170px){
    @include d-grid(2,2)
  }
}
.pricing-block{
  color: #ffffff;
  font-family: $monserrat;
  text-align: center;
  width: 257px;
  height: 457px;
  margin: 111px 13px 149px;
  background-color: rgba(255,255,255,0.11);
  position: relative;
  @media (min-width: 320px) and (max-width: 480px){
    margin: 0;
  }
  @media (min-width: 481px) and(max-width: 992px) {
    margin: 0;
  }
  &__title{
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(255,255,255,0.06);
  }
  &__price{
    font-size: 14px;
    text-transform: uppercase;
    &:after{
      content: '';
      display: block;
      margin: 38px auto 30px;
      width: 60px;
      height: 5px;
      background: #8D81AC
    }
  }
  .price{
    display: block;
    font-size: 60px;
    padding: 30px 0 20px;
    font-weight: bold;
  }
  &__description{
    font-size: 16px;
  }
  .purchase-btn{
    font-size: 15px;
    padding: 15px 19px;
    background-color: rgba(255,255,255,0.15);
    border-radius: 40px;
    font-family: $monserrat;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    bottom: 38px;
    left: 25%;
  }
}

.pricing-block.active{
  width: 299px;
  height: 560px;
  background-color: rgba(70,48,72, 0.84);
  .pricing-block__title{
    background-color: rgba(0,0,0,0.11);
  }
  .pricing-block__price:after{
    margin: 46px auto 40px;
  }
  .price{
    font-size: 82px;
  }
  .purchase-btn{
    padding: 19px 29px;
    bottom: 47px;
  }
}
