@mixin container_1200 {
    max-width: 1180px;
    margin: 0 auto;
}

//display flex
@mixin d-flex-center {
    @include d-flex;
    align-items: center;
    justify-content: center;
}

@mixin d-flex-between {
    @include d-flex;
    align-items: center;
    justify-content: space-between;
}

@mixin d-flex {
    display: flex;
    flex-wrap: wrap;
}

@mixin d-flex__column {
    flex-direction: column;
}

//display grid
@mixin d-grid($column, $row) {
    display: grid;
    grid-template-columns: repeat($column, 1fr);
    grid-template-rows: repeat($row, 1fr);
}

@mixin button {
    display: inline-block;
    border-radius: 44px;
    color: #fff;
    text-decoration: none;
    transition: .6s;
}

@mixin button__buy-now {
    padding: 12px 35px;
    background: #8d81ac;
    border: 1px solid #8d81ac;
    font-weight: 700;
    text-decoration: none;
}

@mixin button__big {
    padding: 23px 63px;
    font-size: 21px;
}

@mixin d-flex__column {
    flex-direction: column;
}